html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    margin: 0;
}

#navigation {
    background-image: linear-gradient(to right, white, beige);
    display: flex;
    position: fixed;
    background-color: white;
    width: 90%;
    align-self: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px black;
}

#navigation img {
    height: 50px;
    width: 50px;
    border-radius: 40rem;
    align-self: center;
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#navlist {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-self: center;
}

#heronavlist {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
}

#hero {
    background-image: linear-gradient(to top, white, beige);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#hero img {
    border-radius: 20rem;
    height: 200px;
    width: 200px;
}

#hero p {
    font-size: 1.5rem;
    color: grey;
    margin: 0.3rem;
    color: #c74949;
}

#name {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    margin: 0;
}

#name span:first-child {
    color: orange;
}

#name span:last-child {
    padding-left: 10rem;
}


#contacticons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.sectionheader {
    font-size: 80px;
    margin: 3rem 0 0 3rem;
    align-self: flex-start;
    justify-self: flex-start;
}

#aboutme :nth-child(2) {
    display: flex;
    justify-content: center;
}
#aboutme{
        background-image: linear-gradient(to bottom, white, beige);
}
#abouttxt {
    max-width: 59rem;
    height: fit-content;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 20px;
}
#abouttxt{
    line-height:2;
}
#aboutex {
    flex-direction: column;
    margin: 2rem 0 0 2rem;
}

.ex {
    text-align: center;
    font-weight: 900;
    border: 2px solid #ffc889;
    padding: 0.5rem;
    border-radius: 1rem;
}

.ex:hover {
    background-color: #ffc889;
    cursor: default;
}

.main-sec {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#projects{
        background-image: linear-gradient(to top, white, beige);
}

#project-cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;

}

#project :nth-child(2) {
    display: flex;
}

.projectcard {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 30rem;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px 5px silver;
    justify-content: center;
}

.projectcard h3 {
    text-align: center;
}

.imgcont img {
    width: 20rem;
    height: 20rem;
    object-fit: fill;
    border-radius: 1rem;
}

.projectbutton {
    border: 2px solid #ffc889;
    border-radius: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-weight: 700;
}

.projectbutton:hover {
    background-color: #ffc889;
}

.linkscont {
    display: flex;
    gap: 2rem;
}
#contactme{
        background-image: linear-gradient(to bottom, white, beige);
}

#contactme-txt {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
}

#contactme h3 {
    font-size: 30px;

}

#contactme a {
    font-size: 20px;
}

@media (max-width:580px) {
    #name {
        font-size: 3rem;
        margin: 0;
    }

    #name span:last-child {
        padding-left: 0rem;
    }
}

@media (max-width:1300px) {
    #aboutme :nth-child(2) {
        flex-wrap: wrap;
    }
}