body{
    display: flex;
    flex-direction: column;
}
#navigation {
    display: flex;
    align-self: center;
}
nav ul{
    display: flex;
    gap:1rem;
    list-style: none;
    align-self: center;
}
a{
    text-decoration: none;
    color: black;
}
#hero{
    display: flex;
    align-self: center;
    height: 98lvh;
    align-items: center;
}
#herotxt p{
    font-size: 20px;
    color: grey;
    margin:0.3rem;
}
#herotxt h2{
    font-size: 70px;
    margin: 0;
}
#herotxt h2 span:first-child{
    color:orange;
}
#herotxt h2 span:last-child{
    padding-left: 8rem;
}
#herosoc{
    display: flex;
    justify-content: center;
    gap:1.5rem;
    padding:1rem 0 0 0;
}
#hero ul{
    display: flex;
    gap:1rem;
    list-style: none;
}
#aboutme{
    display: flex;
    flex-wrap:wrap;

}
#abouttxt{
    width:40rem;
    height: fit-content;
    align-self: center;
    justify-self: center;
}
#aboutex{
    display: flex;
    flex-direction: column;
    width:40rem;
    align-self: center;
    justify-self: center;
    align-items: center;
    margin-top:10rem;
}
#aboutex p{
    font-weight:900 ;
    border:2px solid orange;
    padding:0.5rem;
}